.search-page {
	margin-top: 18vh;
	height: 71vh;
	/* display: block; */
	flex-direction: column;
	/* overflow-x: hidden; */
	width: 80%;
	align-items: end;
	/* height: inherit; */
	row-gap: 10px;
	padding-top: 9vh;
}
.searchcard-container {
	margin: 5vh;
	height: 78vh;
	display: flex;
	flex-direction: column;
	row-gap: 5vh;
}
p.search-page {
	color: white;
}
.job-btns {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0vw;
	top: 15vh;
	width: 20vw;
	align-items: end;
	height: 50vh;
	justify-content: space-evenly;
	margin-top: 0;
}
@media screen and (max-width: 425px) {
	.job-btns {
		flex-direction: row;
		top: 20vh;
		left: 0;
		position: absolute;
		align-items: center;
		justify-content: space-evenly;
		height: auto;
		width: 100vw;
	}
}
.alt-btn.m {
	display: flex;
	margin: 0;
	min-width: 125px;
	/* width: 40vw; */
	height: auto;
	background-color: rgba(70, 131, 180, 0.434);
	font-size: 20px;
	text-shadow: 2px 2px black;
	box-shadow: none;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	border-radius: 10px;
	border-style: inset;
	justify-content: center;
}
.alt-btn.m.apply {
	max-width: fit-content;
}
.alt-btn.m.apply.disabled {
	opacity: 0.6;
	cursor: default;
	border: none;
}
.alt-btn.m.apply.disabled:hover {
	font-size: 20px;
	border: none;
}
.alt-btn.m:hover {
	font-size: 19px;
}
.alt-btn.l {
	display: flex;
	margin: 0;
	min-width: 125px;
	/* width: 20vw; */
	height: auto;
	background-color: rgba(70, 131, 180, 0.434);
	font-size: 20px;
	text-shadow: 2px 2px black;
	box-shadow: none;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	border-radius: 10px;
	border-style: inset;
	justify-content: center;
}
.alt-btn.l:hover {
	font-size: 19px;
}
.search-page.open-form {
	height: 70vh;
	margin-top: 10vh;
}
.search-page .popup-container {
	padding-top: 45px;
	cursor: default;
	position: relative;
	overflow: hidden;
	height: 70vh;
}
.search-page .popup-container:hover {
	cursor: default;
}
.pop-job-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: steelblue;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 4px;
	width: 98%;
}
.job-details-full {
	border: solid 1px white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	max-height: 60vh;
	overflow: auto;
	margin-top: 10px;
	overflow-x: hidden;
	row-gap: 1rem;
	display: flex;
	flex-direction: column;
}
.pop-job-header .alt-btn.m {
	position: absolute;
	top: 0;
	right: 18vw;
	width: fit-content;
	background-color: steelblue;
}
div [target="search-map"] {
	margin-top: 0;
}
