.pop-job-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: steelblue;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 4px;
	width: 98%;
	height: 55px;
}
.job-details-full {
	border: solid 1px white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	max-height: 60vh;
	overflow: auto;
	margin-top: 10px;
	overflow-x: hidden;
	row-gap: 1rem;
	display: flex;
	flex-direction: column;
}
.pop-job-header .alt-btn.m {
	position: absolute;
	top: 0;
	right: 18vw;
	width: fit-content;
	background-color: steelblue;
}

.applicant-count {
	display: flex;
	column-gap: 5px;
}

.app-count {
	background-color: rgb(4, 178, 13);
}

.applicants {
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px 2px black;
	letter-spacing: 1px;
}

.applicants:hover {
	text-decoration: underline;
	font-size: 22px;
}
