.isWorker {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: end;
	margin-left: 0;
	margin-right: 0;
	column-gap: 1rem;
}
.work-select {
	display: inline-grid;
	grid-template-columns: auto auto;
	column-gap: 2rem;
}

.register-form {
	flex-direction: row;
}
.register-form input {
}
.register-form textarea {
	background-color: rgba(70, 131, 180, 0.849);
	/* margin: 5px; */
	color: white;
	font-size: 14px;
	/* font-weight: bold; */
	border-width: 2px;
	border-style: inset;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	max-width: 250px;
}
.register-form button {
	letter-spacing: 1px;
}

.required {
	align-self: end;
}

.isWorker button {
	display: flex;
	width: 50px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

/* button.workers-btn {
	display: flex;
} */

.provider[target="providerbtn"] {
	background-color: steelblue;
	border-left: 2px solid white;
	border-top: 3px solid white;
	border-bottom: 1px solid white;
	border-right: 0px solid white;
	font-size: 24px;
	transition-duration: 250ms;
}
.worker[target="workerbtn"] {
	background-color: steelblue;
	border-left: 2px solid white;
	border-top: 3px solid white;
	border-bottom: 1px solid white;
	border-right: 0px solid white;
	font-size: 24px;
	transition-duration: 250ms;
}
.provider[target="workerbtn"] {
	background-color: slategray;
	color: darkgray;
	text-shadow: 1px 1px black;
	border-left: 0px solid darkgray;
	border-top: 2px solid darkgray;
	border-bottom: 4px solid darkgray;
	border-right: 3px solid darkgray;
	text-align: left;
	align-items: start;
	transition-duration: 250ms;
}
.worker[target="providerbtn"] {
	background-color: slategray;
	color: darkgray;
	text-shadow: 1px 1px black;
	border-left: 0px solid darkgray;
	border-top: 2px solid darkgray;
	border-bottom: 4px solid darkgray;
	border-right: 3px solid darkgray;
	text-align: left;
	align-items: start;
	transition-duration: 250ms;
}

/* .register-form form {
	display: block;
} */
/* custom radio buttons */

/* .radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgba(97, 121, 135, 0.289);
	border-radius: 50%;
}
.radio:hover input ~ .checkmark {
	background-color: rgba(115, 169, 169, 0.758);
}
.radio input:checked ~ .checkmark {
	background-color: rgb(98, 170, 170);
	border: groove 2px white;
}
.radio input:checked ~ .checkmark:after {
	display: block;
}
.radio .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
} */
