.r-data {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border-bottom: 1px dotted rgb(251, 249, 249); */
	font-weight: bold;
	font-size: 15px;
	margin-top: 5px;
	padding: 0 13%;
}
.r-data .textra {
	padding: 1px 5px;
}

.r-data .explain {
	visibility: hidden;
	width: 30vw;
	background-image: linear-gradient(to top, black, steelblue);
	color: #fff;
	font-weight: 100;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	display: flex;
	align-content: center;
	align-self: center;
	position: fixed;
	top: 45vh;
	left: 5vw;
	z-index: 1;
}
.r-data:hover .explain {
	visibility: visible;
}
.r-data:hover {
	color: steelblue;
}

.review {
	height: fit-content;
}
.card-hr {
	width: 95%;
}
.subcard {
	display: flex;
	flex-direction: column;
}
