.r-data {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted rgb(251, 249, 249);
	font-weight: bold;
	font-size: 15px;
	margin-top: 0;
}
.r-data .explain {
	visibility: hidden;
	width: 50vw;
	background-color: steelblue;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	display: flex;
	align-content: center;
	position: absolute;
	bottom: 50px;
	z-index: 1;
}
.r-data:hover .explain {
	visibility: visible;
}
.r-data:hover {
	color: steelblue;
}

.review {
	max-height: 100%;
}
.subcard {
}
