ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: baseline;
}

li {
	font-size: 1.25rem;
	display: flex;
}

.navBar {
	/* background-color: gold; */
	background-image: linear-gradient(to top, transparent, steelblue, black);

	/* box-shadow: 4px 2px 5px gray; */
	color: white;
	/* margin-bottom: 1rem; */
	padding: 1.5rem 2rem;
	height: 8rem;
	width: 100%;
	position: absolute;
	top: 0;
	min-width: 550px;
}

.navBar button {
	background: transparent;
	border: 2px solid white;
	color: white;
	text-shadow: 1px 1px black;
	padding: 0.4rem 0.5rem;
}

.navBar button:hover {
	background: white;
	color: rgb(3, 3, 3);
	cursor: pointer;
	text-shadow: 2px 2px white;
}

li.user {
	column-gap: 5px;
	margin-right: 0;
}

button.navbar {
	display: flex;
	top: 0vh;
	right: 10vw;
	/* position: relative; */
}

.brand {
	cursor: pointer;
	font-size: 2rem;
}
.brand p {
	margin-left: 3vw;
}
button.dropbtn {
	position: relative;
	border-style: none;
	right: 1vw;

	margin-right: 1em;
	opacity: 1;

	text-shadow: 2px 2px black;
	margin-bottom: 10px;
	padding: 0;
	font-size: 16px;
}
button.dropbtn:hover {
	background-color: rgba(250, 251, 252, 0.529);
	border-style: none;
	box-shadow: none;
}

.dropdown {
	/* position: fixed; */
	right: 0;
	margin-right: 0;
	/* display: inline-block; */
	/* display: flex; */
	/* margin-bottom: 0; */
}
.closed-menu {
	display: none;
}
.opened-menu {
	display: block;
}
.dropdown-content {
	display: flex;
	position: fixed;
	right: 0;
	flex-direction: column;
	justify-content: space-evenly;
	background: rgba(97, 121, 135, 0.289);
	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px black;
	letter-spacing: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	/* padding: 12px 16px; */
	/* z-index: 8000005; */
	font-size: 1rem;
	width: 150px;
	overflow: auto;
	margin: 8px;
	margin-right: 0;
	height: 80%;
}
.dropdown-content a {
	color: rgb(251, 249, 249);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-color: white;
}
.dropdown-content a:hover {
	background-color: rgba(115, 169, 169, 0.758);
}

.dropdown:hover .dropdown-content {
	/* display: block; */
	/* flex-direction: column; */
}

.user {
	margin-right: 2vw;
	position: relative;
}
a.user {
	margin-right: 2rem;
}

.menubtn {
	height: 2px;
	width: 25px;
	background-color: white;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	/* margin-left: 0; */
	position: relative;
}
.signin {
	flex-direction: row;
	margin-left: 2rem;
}
/* .form-popup {
	display: none;
	position: fixed;

	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
} */
