ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: baseline;
}

li {
	font-size: 1.25rem;
	display: flex;
}

.navBar {
	/* background-color: gold; */
	background-image: linear-gradient(to top, transparent, steelblue, black);

	/* box-shadow: 4px 2px 5px gray; */
	color: white;
	/* margin-bottom: 1rem; */
	padding: 1.5rem 2rem;
	height: 8rem;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 1;
	min-width: 420px;
}
button.user {
}

.signin button {
	background: transparent;
	border: 2px solid white;
	color: white;
	text-shadow: 1px 1px black;
	padding: 0.4rem 0.5rem;
	border-radius: 5px;
}

.navBar button:hover {
	background: white;
	color: rgb(3, 3, 3);
	cursor: pointer;
	text-shadow: 2px 2px white;
}

li.user {
	column-gap: 5px;
	margin-right: 0;
}

button.navbar {
	display: flex;
	top: 0vh;
	right: 10vw;
	/* position: relative; */
}

.brand {
	cursor: pointer;
	font-size: 2rem;
}
.brand p {
	margin-left: 3vw;
}
button.dropbtn {
	position: relative;
	border-style: none;
	right: 1vw;

	margin-right: 1em;
	opacity: 1;

	text-shadow: 2px 2px black;
	margin-bottom: 10px;
	padding: 0;
	font-size: 16px;
}
button.dropbtn:hover {
	background-color: rgba(250, 251, 252, 0.529);
	border-style: none;
	box-shadow: none;
}

.dropdown {
	position: grid;
	/* right: 0;
	margin-right: 0; */
	/* display: inline-block; */
	/* display: flex; */
	/* margin-bottom: 0; */
}
.closed-menu {
	display: none;
}
.opened-menu {
	display: block;
}
.dropdown-content {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;

	flex-direction: row;
	background: rgba(3, 3, 3, 0.845);

	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px black;
	letter-spacing: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8vh 25vw;
	z-index: 4;
	font-size: 1rem;
	width: 100vw;
	overflow: auto;
	/* margin: 8px; */
	margin-right: 0;
	height: 100vh;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
}

.dropdown-content a {
	color: rgb(251, 249, 249);
	background-color: rgba(255, 255, 255, 0.185);
	padding: 10px 0px 2px 20px;
	text-decoration: none;
	display: flex;
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	column-gap: 1rem;
	width: 60vw;
	height: 70px;
	font-size: 23px;
	letter-spacing: 2px;
	box-shadow: inset -2px -2px 2px rgb(254, 253, 253);
	/* position: sticky; */
	margin: 8px;
	transition-duration: 400ms;
	transition-timing-function: ease-in-out;
}
.dropdown-content a:hover {
	background-color: rgba(70, 131, 180, 0.745);
	width: 20vw;
	height: 80px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;

	/* top: 10vh; */
}

.dropdown:hover .dropdown-content {
	/* display: block; */
	/* flex-direction: column; */
}

.user {
	margin-right: 2vw;
	position: relative;
}
a.user {
	margin-right: 2rem;
}

.menubtn {
	height: 2px;
	width: 25px;
	background-color: white;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	/* margin-left: 0; */
	position: relative;
}
.signin {
	flex-direction: row;
	margin-left: 2rem;
}
.darkout-bg.post {
	position: fixed;
}

/* .form-popup {
	display: none;
	position: fixed;

	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
} */
