.error {
	color: red;
}
.container a {
	color: rgb(245, 243, 243);
	/* text-decoration: none; */
	margin-top: 10px;
}
.login {
	flex-direction: column;
	align-items: center;
}
.reg-link {
	color: white;
	margin-top: 10px;
}
