footer {
	position: fixed;
	/* background-color: rgb(2, 2, 2); */
	font-size: 0.8rem;
	left: 0;
	display: flex;
	flex-direction: column;
	bottom: 0;
	padding: 0.7rem;
	text-align: center;
	align-self: end;
	width: 100%;
	margin-top: 10px;
	background-color: black;
	background-image: linear-gradient(transparent, steelblue),
		linear-gradient(to top, rgb(0, 0, 0), black, transparent);
}
