@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
	padding: 0;
	box-sizing: inherit;
	margin: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(70, 131, 180, 0.334);
}

::-webkit-scrollbar-thumb {
	background: rgba(70, 131, 180, 0.574);
	border: outset 1px rgb(255, 253, 253);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	border: inset 2px white;
	background: rgba(70, 131, 180, 0.767);
	transform: scale(1.2);
}

html {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	/* height: 100vh; */
	min-width: 412px;
}

body,
html {
	/* height: 100vh; */
	height: 100%;
}
.bg {
	background-color: rgb(75, 75, 75);
	background-image: linear-gradient(to top, black, transparent, transparent),
		url("./images/silhouette-oilfield-sunset.jpg");

	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;

	/* z-index: -2; */
}

p {
	font-size: 20px;
}

button {
	background-color: rgba(70, 131, 180, 0.397);
	border: 2px solid steelblue;
	color: #ffffff;
	font-weight: bolder;
	font-size: 16px;
	font-family: inherit;
	max-width: 100px;
	padding: 0.5rem 0.5rem;
}

button:hover {
	cursor: pointer;
	color: white;
	background-color: steelblue;
	box-shadow: inset 2px 2px black;
	text-shadow: 2px 2px black;
}
.alt-btn {
	background-color: transparent;
	/* border-top-style: none; */
	border-right-style: none;
	border-left-style: none;
	margin-top: 0;
	width: max-content;
	text-wrap: nowrap;
	/* z-index: 0; */
}

.alt-btn:hover {
	border-top-color: white;
	border-bottom-color: white;
	/* color: steelblue; */
}

.container {
	margin: 0;
	/* content: cover; */
	min-width: 412px;
	/* color: #ffffff; */
	text-align: center;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	/* padding-top: 18vh; */
	max-width: 100vw;
	padding-bottom: 2vh;
	overflow: auto;
}

input {
	display: block;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
	background-color: rgba(70, 131, 180, 0.849);
	max-width: 200px;
	height: 25px;
	/* font-weight: bold; */
	text-align: center;
	color: white;
}
.form textarea {
	font-family: "Poppins", sans-serif;
	background-color: rgba(115, 169, 169, 0.758);
	color: white;
	letter-spacing: 0.6px;
	font-style: italic;
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

form {
	display: flex;
	border-radius: 5px;
	margin: 1vh 1vw;
	flex-direction: column;
	overflow: auto;
	max-height: 100%;
	align-items: center;
	padding: 2%;
	/* margin-top: 5%; */
	background: rgba(43, 104, 139, 0.555);
	border: 1px solid rgb(250, 249, 249);
	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px black;
	letter-spacing: 1px;
	overflow-x: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 5px;
	word-wrap: break-word;
	height: 40vh;
	width: 50vw;
	align-items: center;
	box-shadow: 2px 2px 4px 1px rgb(3, 3, 3);
	padding: 10px;
	margin-top: 0;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.688),
		rgba(43, 104, 139, 0.688)
	);
	border: 1px solid rgb(250, 249, 249);
	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px 2px black;
	letter-spacing: 1px;
	border-radius: 4px;
}
.card p {
	font-size: 22px;
	font-weight: 400;
	display: inline;
	font-weight: bold;
}

.card-info {
	margin-top: 10px;
	padding: 2px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 17px;
}

.cardname {
	font-size: 26px;
	font-weight: bold;
}

hr {
	height: 3px;
	width: 80%;
	margin: 10px;
	background-color: rgb(236, 243, 251);
	box-shadow: 1px 1px 1px black;
}
.textra {
	border: solid 1px white;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	background-color: rgba(70, 131, 180, 0.81);
	opacity: 1;
	width: 40px;
	padding: 2px 7px;
}
.loading {
	color: white;
}
.darkout-bg {
	background-color: rgba(0, 0, 0, 0.619);
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}
.popup-container {
	flex-direction: column;
	position: absolute;
	top: 14vh;
	/* top: 0; */
	left: 15vw;
	right: 15vw;
	border: solid white;
	background-image: linear-gradient(to top, black, rgba(70, 131, 180, 0.79));
	overflow: auto;
	max-width: 60vw;
	max-height: 70vh;
	margin-top: 1vh;
	min-width: 60vw;
	margin-bottom: 1vh;
	border-radius: 4px;
	overflow-x: hidden; /* If anything is affected negatively, this is why. just remove it to fix*/
}

.popup-container h2 {
	color: white;
	text-align: center;
}
.closed-form {
	display: none;
}
.opened-form {
	display: flex;
}
button.exit-form {
	display: block;
	margin: 0;
	position: absolute;
	align-self: flex-end;
	top: 0;
	right: 0;
	width: 43px;
	height: 43px;
	font-size: larger;
}
select {
	background-color: rgba(70, 131, 180, 0.849);
	/* font-weight: bold; */
	border-style: inset;
	color: white;
	border-color: black;
	/* min-width: 100px; */
	height: 25px;
	text-align: center;
	align-items: center;
	max-width: 300px;
	overflow: auto;
}
form.form {
	margin: 1vh 5vw;

	overflow-x: hidden;
}
.txt-btn {
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
}
