@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
	padding: 0;
	box-sizing: inherit;
	margin: inherit;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: rgba(70, 131, 180, 0.533);
}

::-webkit-scrollbar-thumb {
	background: rgba(49, 173, 177, 0.586);
	border: solid 1px black;
}

html {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	/* height: 100vh; */
	min-width: 425px;
}

body,
html {
	/* height: 100vh; */
	height: 100%;
}
.bg {
	background-color: rgb(75, 75, 75);
	background-image: linear-gradient(to top, black, transparent, transparent),
		url("./images/silhouette-oilfield-sunset.jpg");

	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

p {
	font-size: 20px;
}

button {
	background-color: rgba(70, 131, 180, 0.397);
	border: 2px solid steelblue;
	color: #ffffff;
	font-weight: bolder;
	font-size: 1rem;
	font-family: inherit;
	max-width: 100px;
	padding: 0.5rem 0.5rem;
}

button:hover {
	cursor: pointer;
	color: white;
	background-color: steelblue;
	box-shadow: inset 2px 2px black;
	text-shadow: 2px 2px black;
}

.container {
	margin: auto;
	min-width: 425px;
	/* color: #ffffff; */
	text-align: center;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding-top: 15vh;
}

.form input {
	display: block;
	width: 100%;
	height: 25px;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
	background-color: rgba(115, 169, 169, 0.758);
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

form {
	display: flex;
	margin: 5px;
	flex-direction: column;
	overflow: auto;
	max-height: 75%;
	align-items: center;
	padding: 2%;
	margin-top: 5%;
	background: rgba(97, 121, 135, 0.289);
	border: 1px solid rgb(250, 249, 249);
	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px black;
	letter-spacing: 1px;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 5px;
	word-wrap: break-word;
	max-height: 75%;
	align-items: center;
	box-shadow: 3px 3px 3px rgb(3, 3, 3);
	padding: 2%;
	margin-top: 5%;
	background: rgba(97, 121, 135, 0.289);
	border: 1px solid rgb(250, 249, 249);
	opacity: 1;
	color: rgb(236, 243, 251);
	text-shadow: 2px 2px 2px black;
	letter-spacing: 1px;
	max-width: 60vw;
	min-width: 250px;
}

.card-info {
	margin-top: 0;
	padding: 2px;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 17px;
}

.cardname {
	font-size: 26px;
	font-weight: bold;
}

.hr {
	height: 2px;
	background-color: rgb(236, 243, 251);
	box-shadow: 1px 1px 1px black;
}
.textra {
	border: solid 1px white;
	color: white;
	font-weight: bolder;
	background-color: rgba(70, 131, 180, 0.81);
	opacity: 1;
	width: 40px;
	padding: 2px 6px;
}
