.modal-active {
	display: block;
	position: fixed;
	z-index: 1;
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
}
.modal-inactive {
	display: none;
}

.modal-content {
	background-color: rgba(70, 131, 180, 0.855);
	margin: auto;
	padding: 20px 10px;
	border: 1px solid #888;
	width: 40%;
	min-height: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}
.modal-header {
	padding: 6px 16px;
	background-color: #4d4e4d;
	color: white;
}
.modal-body {
	padding: 2px 16px;
	color: white;
}
