div .map-display {
	margin-top: 2%;
	cursor: crosshair !important;
}
.gm-style {
}
button.gm-control-active.gm-fullscreen-control {
	background-color: transparent !important;
	box-shadow: none !important;
	z-index: 1 !important;
}
Map {
	cursor: crosshair !important;
}
