.map {
	height: 70vh;
	width: 60vw;
}

.map-container {
	height: 80%;
	width: 100%;
	border-radius: 30px;
	border: inset 5px steelblue;
	border-top-color: steelblue;
	border-bottom-color: steelblue;
	border-left: none;
	border-right: none;
}
