.map {
	height: 60vh;
	width: 60vw;
	margin-top: 10vh;
	margin-right: 4vw;
}

.map-container {
	margin: 1px;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	border: inset 5px steelblue;
	border-top-color: steelblue;
	border-bottom-color: steelblue;
	border-left: none;
	border-right: none;
}
